@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto:700');
*{
	margin: 0;
	padding: 0;
}

h1{
  font-family: 'Fjalla One', sans-serif;
}

